<div class="posts">

  <% @posts.each do |post| %>
    <section class="post">
    <div class="user">
    <div class="avatar">
      <% if post.user.avatar.attached? %>
        <img src="<%= url_for(current_user.avatar) %>"/>
      <% end %>
    </div>
    <div class="username">
      <%= post.user.username %>
    </div>
  </div>
  <img class='main-image' src="<%=(url_for(post.image))%>"/> 
  <div class="caption">
    <%= post.caption %>
  </div>
    </section>
  <% end %>
</div>
<div class='pagination'>
<%= paginate @posts %>
<div>


